.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.App-content{
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 30px;
}

.App-pet{
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-items: center;
  align-items: center;
}

.App-chat{
  display: flex;
  flex-grow: 4;
  flex-flow: column;
  justify-items: center;
  align-items: center;
}